$btn-color: #66D386; 
$btn-color-hover: #1B434D;
$input-color: #CCD9DD;
$input-background-color: #345A63;

.chat-input {
  background-color: #345A63;

  .form {
    display: flex;
    flex-direction: column;

    &__input {
      flex-grow: 1;
      background-color: white;
      min-height: 3rem;
      padding: 0.5rem 1rem;
    }
  
    &__button {
      border: 1px solid transparent;
      //border-radius: 0.5rem;
      padding: 0.6em 1.2em;
      font-size: 1.2em;
      font-weight: 500;
      font-family: inherit;
      background-color: $btn-color;
      cursor: pointer;
      transition: border-color 0.25s;
      color: white;
    }
    &__button:hover {
      background-color: $btn-color-hover;
    }
    // &__button:focus,
    // &__button:focus-visible {
    //   outline: 4px auto -webkit-focus-ring-color;
    // }
  }
}




a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

