$btn-color: #66D386; 
$btn-color-hover: #1B434D;
$input-background-color: #345A63;

.chat-input {
  background-color: #345A63;

  .form {
    display: flex;
    height: 3rem;
    margin: 1rem 0;

    &__input {
      flex-grow: 1;
      border-radius: 0.3rem;
      padding: 0 0.2rem;
    }
  
    &__button {
      font-size: 1.2em;
      background-color: $btn-color;
      color: white;
      border: 0;
      border-radius: 0.3rem;
      padding: 0 2rem;
      margin-left: 0.8rem;
      cursor: pointer;
    }

    &__button:hover {
      background-color: $btn-color-hover;
    }
  }
}

