.chat {
  flex-grow: 1;
  width: auto;
  box-sizing: content-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  } 
} 
