.message {
  margin: 1rem 1rem 1rem auto;
  display: flex;

  span {
    background-color: #333;
    padding: 0.5rem;
  }

  &--sent {
    color: yellowgreen;
  }

  &--received {
    color: pink;

    span {
      margin-left: auto;
    }
  }
}
