.message {
  $this: &;

  margin: 1rem 1rem 1rem auto;
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 0.5rem;
  }

  &__sender {
    color: white;
    font-size: 90%;
  }

  &--sent {
    #{$this}__text {
      color: pink;
    }
  }

  &--received {
    #{$this}__container {
      margin-left: auto;
    }

    #{$this}__text {
      color: yellowgreen;
    }
  }
}
